* {
    padding:0;
    margin:0;
}

html,body{
    width: 100%;
    height:100%;
    margin:0;
    display:table;
}

.clearfix::after{
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
 }

ul,li {
  list-style: none
}

a {
  text-decoration: none;
}

#left{
    width: 8%;
    height:100%;
    background-color: #1D2530;
    display: table-cell;
}

#left ul{
    position: fixed;
    padding: 20px;
    top:15px;
    left:10px;
}
#left ul li{
    margin-top: 20px;
    width: 60px;
    height: 60px;
    border-radius:50%;
    text-align: center;
    line-height: 60px;
}
#left ul li:hover{
    transition: 0.5s;
    border-radius: 10%
}

#left ul li span{
    display:block;
}

#left ul li:first-child{
    background: rgb(0, 132, 255);
    width:60px;
    height: 60px;
    overflow: hidden;
    position: relative;
}


#left ul li:nth-child(2){
    background:rgb(128, 10, 128);
    width:60px;
    height: 60px;
}

#left ul li:nth-child(3){
        background:red;
        width:60px;
        height: 60px;
}
#left ul li:nth-child(4){
    background:rgb(36, 128, 0);
    width:60px;
    height: 60px;
}
#left ul li:last-child{
    background:rgb(168, 166, 166);
    width:60px;
    height: 60px;
}
#left ul li img{
    position: relative;
    top: 10px;
    width: 40px;
    height: 40px;
}
#back{
    position: fixed;
    left: 30px;
    bottom: 30px;
    
}

#right{
    width:92%;
    height: 100%;
    display: table-cell;
    background-color: white;
}

#content{
    width: 660px;
    margin: 0 auto;
}
#content:first-child{
    position: relative;
    left:-120px;
}

#content h3{
    width: 660px;
    margin: 0 auto 10px 120px;
    font-family: cursive;
}
#p652-1{
    width: 600px;
    position: relative;
    left: 120px;
    margin-bottom: 20px;
}

#p652-2{
    width: 600px;
    height: 385px;
    position: relative;
    left: 120px;
}
#p652-3{
    position: fixed;
    bottom: 5%;
    right: 2%;
    cursor: pointer;
    transition: all 0.6s;
}
#p652-3:hover{
    transform: scale(1.2);
}
#insert{
    position: absolute;
    left:23%;
    top: 15%;
}